%section{:id => "metrics"}
  %div{:class => "page-header"}
    %h1 Reports
  %div{:class => "row"}
    %div{:class => "span4"}
      %p Reports take data from link clicks and metrics and combines them to provide a comprehensive view of the success of your Mobile Menu.
    .span12 
      .row
        .span6
          %fieldset
            %legend Users
            %img{:src => Gchart.pie(:data => [12, 88], :legend => ['Users', 'Non-Users'])}
        .span6
          %fieldset
            %legend Donators
            %img{:src => Gchart.pie(:data => [26, 74], :legend => ['Donators', 'Non-Donators'])}
      .row
        .span6
          %fieldset
            %legend Users by Date
            %img{:src => Gchart.bar(:data => [[12, 16, 10], [40, 52, 41]], :axis_with_labels => 'x', :axis_labels => [['Jan 7', 'Jan 8', 'Jan 9']], :stacked => false, :legend => ['Donators', 'Patrons'],:bar_colors => 'FF0000,00FF00', :custom => 'xAxis.showTextEvery=2')}
        .span6
          %fieldset
            %legend Donators by Date
            %img{:src => Gchart.bar(:data => [[6, 4, 2], [40, 52, 41]], :axis_with_labels => 'x', :axis_labels => [['Jan 7', 'Jan 8', 'Jan 9']], :stacked => false, :legend => ['Donators', 'Patrons'],:bar_colors => 'FF0000,00FF00', :custom => 'xAxis.showTextEvery=2')}
