%p{:class => 'logo'}
  - if !@menu.image.blank?
    %img{:src=>@menu.image}
%ul{'data-role'=>'listview'}
  - @menu.menu_items.each do |item|
    %li
      %a{:rel=>'external',:href=>item.bitly_url}
        - if !item.image.blank?
          %img{:src=>item.image}
        %span
          =item.label
