%div{:class => "hero-unit"}
  %h1 Welcome
  %p With Mobile Menu you can easily create a mini-mobile website that patrons can access via a QR-Code.
  =link_to('Sign up', new_user_registration_path, {:class => "btn primary"})
