body {
  padding-top: 40px;
}
.extra-links ul {
  margin: 0 0 0 10px;
}
.extra-links li {
  list-style-type: none;
}
div.alert-message h2 {
  display: none;
}
div.alert-message li {
  color: white;
  list-style-type: none;
}

